@page "/componente"

<PageTitle>Componente</PageTitle>

<label for="">Estos son diversos componentes: </label>


<div class="mb-3">
    <label for="" class="form-label"></label>
    <textarea class="form-control" name="" id="" rows="3"></textarea>
</div>



<img
    src="https://cdn-icons-png.flaticon.com/512/3209/3209925.png"
    class="img-fluid rounded-top"
    alt=""
/>

<div
    class="table-responsive"
>
    <table
        class="table table-primary"
    >
        <thead>
            <tr>
                <th scope="col">Column 1</th>
                <th scope="col">Column 2</th>
                <th scope="col">Column 3</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td scope="row">R1C1</td>
                <td>R1C2</td>
                <td>R1C3</td>
            </tr>
            <tr class="">
                <td scope="row">Item</td>
                <td>Item</td>
                <td>Item</td>
            </tr>
        </tbody>
    </table>
</div>

<button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="button"
    aria-pressed="false"
    autocomplete="off"
>
    Button
</button>
